
@font-face {
    font-family: 'star_jedi_logo_monolineRg';
    src: url('fonts/stjelogo/h1/strjmono-webfont.eot');
    src: url('strjmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/stjelogo/h1/strjmono-webfont.woff2') format('woff2'),
         url('fonts/stjelogo/h1/strjmono-webfont.woff') format('woff'),
         url('fonts/stjelogo/h1/strjmono-webfont.ttf') format('truetype'),
         url('fonts/stjelogo/h1/strjmono-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'star_jedi_outlineregular';
    src: url('fonts/starjout/starjout-webfont.eot');
    src: url('starjout-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/starjout/starjout-webfont.woff2') format('woff2'),
         url('fonts/starjout/starjout-webfont.woff') format('woff'),
         url('fonts/starjout/starjout-webfont.ttf') format('truetype'),
         url('fonts/starjout/starjout-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    background-color: #272727;
    width: 100%;
    height: 100%;
}

#fountainG{
	position:relative;
	width:240px;
	height:29px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:#000000;
	width:29px;
	height:29px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.3s;
		-o-animation-duration:1.3s;
		-ms-animation-duration:1.3s;
		-webkit-animation-duration:1.3s;
		-moz-animation-duration:1.3s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.52s;
		-o-animation-delay:0.52s;
		-ms-animation-delay:0.52s;
		-webkit-animation-delay:0.52s;
		-moz-animation-delay:0.52s;
}

#fountainG_2{
	left:30px;
	animation-delay:0.65s;
		-o-animation-delay:0.65s;
		-ms-animation-delay:0.65s;
		-webkit-animation-delay:0.65s;
		-moz-animation-delay:0.65s;
}

#fountainG_3{
	left:60px;
	animation-delay:0.78s;
		-o-animation-delay:0.78s;
		-ms-animation-delay:0.78s;
		-webkit-animation-delay:0.78s;
		-moz-animation-delay:0.78s;
}

#fountainG_4{
	left:90px;
	animation-delay:0.91s;
		-o-animation-delay:0.91s;
		-ms-animation-delay:0.91s;
		-webkit-animation-delay:0.91s;
		-moz-animation-delay:0.91s;
}

#fountainG_5{
	left:120px;
	animation-delay:1.04s;
		-o-animation-delay:1.04s;
		-ms-animation-delay:1.04s;
		-webkit-animation-delay:1.04s;
		-moz-animation-delay:1.04s;
}

#fountainG_6{
	left:150px;
	animation-delay:1.17s;
		-o-animation-delay:1.17s;
		-ms-animation-delay:1.17s;
		-webkit-animation-delay:1.17s;
		-moz-animation-delay:1.17s;
}

#fountainG_7{
	left:180px;
	animation-delay:1.3s;
		-o-animation-delay:1.3s;
		-ms-animation-delay:1.3s;
		-webkit-animation-delay:1.3s;
		-moz-animation-delay:1.3s;
}

#fountainG_8{
	left:210px;
	animation-delay:1.43s;
		-o-animation-delay:1.43s;
		-ms-animation-delay:1.43s;
		-webkit-animation-delay:1.43s;
		-moz-animation-delay:1.43s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:#000000;
	}

	100%{
	transform:scale(.3);
		background-color:#FFFFFF;
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:#000000;
	}

	100%{
	-o-transform:scale(.3);
		background-color:#FFFFFF;
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:#000000;
	}

	100%{
	-ms-transform:scale(.3);
		background-color:#FFFFFF;
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:#000000;
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:#FFFFFF;
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:#000000;
	}

	100%{
	-moz-transform:scale(.3);
		background-color:#FFFFFF;
	}
}

.main{
	background: url(..//img/sw1.png);
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
   
    border-radius: 20px;
}

h1{
    font-family: star_jedi_logo_monolineRg;
	font-size: 4rem;
	-webkit-text-fill-color: auto;
  -webkit-text-stroke-color: rgb(233, 233, 34);
  -webkit-text-stroke-width: 2.00px; 
    
}

.logo{
   
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
    height: 72px;
    width: 65px;
}

.quote{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: star_jedi_outlineregular;
	font-size: 1.5rem;
	margin-bottom: 20px;
	-webkit-text-fill-color: auto;
  -webkit-text-stroke-color: rgb(233, 233, 34);
  -webkit-text-stroke-width: 0.3px; 
}

.table{
	margin-bottom: 35px;
}


	.loginForm {
		margin-bottom: 20px;
		justify-content: center;
		}

		.btn-primary{
			background: rgb(233, 233, 34);
			color: black;
			font-weight: bold;
		}